{% set inline_style = '' %}
{% if configuration.block_styles is not null %}
{% set inline_style %}
<style>
  .styles-wrapper- {
      {
      block.uuid.value
    }
  }

    {
    display: flex;
    position: relative;
  }

    {
    % if configuration.block_styles.padding.styles %
  }

  @media only screen and (min-width: 1024px) {
      {
        {
        configuration.block_styles.padding.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.padding_tablet.styles %
  }

  @media only screen and (min-width: 768px) {
      {
        {
        configuration.block_styles.padding_tablet.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.padding_mobile.styles %
  }

  @media only screen and (min-width: 0) {
      {
        {
        configuration.block_styles.padding_mobile.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.width.styles %
  }

  @media only screen and (min-width: 1024px) {
      {
        {
        configuration.block_styles.width.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.width_tablet.styles %
  }

  @media only screen and (min-width: 768px) {
      {
        {
        configuration.block_styles.width_tablet.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.width_mobile.styles %
  }

  @media only screen and (min-width: 0) {
      {
        {
        configuration.block_styles.width_mobile.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.background_color.styles %
  }

    {
      {
      configuration.block_styles.background_color.styles
    }
  }

    {
    % endif %
  }
</style>
{% endset %}
{% endif %}

<div{{ attributes.addClass('block__wysiwyg') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ inline_style }}

  {% set comp_info = {
    "content": content.field_wysiwyg_content,
  } %}

  {% if block.field_wysiwyg_link_color.color is not null and block.field_wysiwyg_link_color.color is not empty %}
  {% set comp_info = comp_info|merge({"link_bg": "bg-color-" ~ block.field_wysiwyg_link_color.color|replace({"#": ''})}) %}
  {% endif %}

  {% if block.field_wysiwyg_show_border.value is not null and block.field_wysiwyg_show_border.value %}
  {% set comp_info = comp_info|merge({"border": true}) %}
  {% endif %}

  {% if block.field_wysiwyg_link_alignment.value is not null and block.field_wysiwyg_link_alignment.value is not empty %}
  {% set comp_info = comp_info|merge({"link_alignment": block.field_wysiwyg_link_alignment.value}) %}
  {% endif %}

  {% if block.field_wysiwyg_link.uri is not null and block.field_wysiwyg_link.uri is not empty %}
  {% set comp_info = comp_info|merge({"link": content.field_wysiwyg_link}) %}
  {% endif %}

  <div class="styles-wrapper-{{ block.uuid.value }}">
    {% include "@nazarene_org/wysiwyg/wysiwyg.twig" with comp_info %}
  </div>
  </div>
