{{ attach_library('nazarene_org/spacer') }}
<div{{ attributes.addClass('block-spacer') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if block.field_spacer_mobile_padding.value is not empty %}
  <div class="block-spacer__mobile-spacer mobile-only"
    style="padding-top: {{ block.field_spacer_mobile_padding.value }}px"></div>
  {% endif %}

  {% if block.field_spacer_tablet_padding.value is not empty %}
  <div class="block-spacer__tablet-spacer tablet-only"
    style="padding-top: {{ block.field_spacer_tablet_padding.value }}px"></div>
  {% endif %}

  {% if block.field_spacer_desktop_padding.value is not empty %}
  <div class="block-spacer__desktop-spacer desktop-only"
    style="padding-top: {{ block.field_spacer_desktop_padding.value }}px"></div>
  {% endif %}

  {% if block.field_spacer_lg_desktop_padding.value is not empty %}
  <div class="block-spacer__large-desktop-spacer lg-desktop-only"
    style="padding-top: {{ block.field_spacer_lg_desktop_padding.value }}px"></div>
  {% endif %}

  <div class="text-marker flex-container flex-dir-column flex-jc-center flex-ai-center">Spacer component</div>
  </div>
