{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set inline_style = '' %}
{% if configuration.block_styles is not null %}
{% set inline_style %}
<style>
  .styles-wrapper- {
      {
      block.uuid.value
    }
  }

    {
    position: relative;
  }

    {
    % if configuration.block_styles.media_constraints.styles %
  }

    {
      {
      configuration.block_styles.media_constraints.styles
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.positioning.styles %
  }

  @media only screen and (min-width: 1024px) {
      {
        {
        configuration.block_styles.positioning.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.positioning_tablet.styles %
  }

  @media only screen and (min-width: 768px) {
      {
        {
        configuration.block_styles.position_tablet.styles
      }
    }
  }

    {
    % endif %
  }

    {
    % if configuration.block_styles.positioning_mobile.styles %
  }

  @media only screen and (min-width: 0) {
      {
        {
        configuration.block_styles.position_mobile.styles
      }
    }
  }

    {
    % endif %
  }
</style>
{% endset %}
{% endif %}
<div{{ attributes.addClass('block__media') }}>
  {{ inline_style }}
  {{ title_prefix }}
  {{ title_suffix }}
  {% set comp_info = {
    "media": content.field_media_element_media,
  } %}

  {% if block.field_media_element_media_mobile.target_id is not null and block.field_media_element_media_mobile.target_id is not empty %}
  {% set comp_info = comp_info|merge({"mobile_media": content.field_media_element_media_mobile}) %}
  {% endif %}

  {% if block.field_media_element_color_.color is not null and block.field_media_element_color_.color is not empty %}
  {% set comp_info = comp_info|merge({"color_bar": "bg-color-" ~ block.field_media_element_color_.color|replace({"#": ''})}) %}
  {% endif %}

  {% if content.media_caption %}
  {% set comp_info = comp_info|merge({"caption": content.media_caption}) %}
  {% endif %}

  <div class="styles-wrapper-{{ block.uuid.value }}">
    {% include "@nazarene_org/media-element/media-element.twig" with comp_info %}
  </div>
  </div>
