{{ attach_library('nazarene_org/media-element') }}

{% set color_bar_attributes = create_attribute() %}
{% set color_bar_classes = [
  'media-element__color-bar',
  color_bar,
] %}

<section class="media-element {% if mobile_media %}has-mobile-image{% endif %}">
  <div class="media-element__media">
    <div class="desktop-image">
      {{ media }}
    </div>
    {% if mobile_media %}
      <div class="mobile-image">
        {{ mobile_media }}
      </div>
    {% endif %}
    {% if color_bar %}
      <div {{ color_bar_attributes.addClass(color_bar_classes) }}></div>
    {% endif %}
  </div>

  {% if caption %}
    <div class="media-element__caption">{{ caption }}</div>
  {% endif %}
</section>
