// Hover Tile
//
// This is the Hover Tile component. It's an example.
//
// Markup: hover-tile.twig
//
// Style guide: Components.hover-tile

// Import site utilities.
@import '../../global/utils/init';

.media-element {
  position: relative;
  overflow: hidden;
  z-index: 1;

  &.has-mobile-image {
    .mobile-image {
      display: block;

      @include breakpoint($lg) {
        display: none;
      }
    }
  }

  .desktop-image {
    display: none;

    @include breakpoint($lg) {
      display: block;
    }
  }

  .desktop-image,
  .mobile-image {
    z-index: 2;
  }

  .media-element__media {
    position: relative;

    img {
      display: block;
      margin: auto;
    }

    video {
      width: 100%;
      height: 100%;
    }

    .field-media-image-caption {
      display: none;
    }
  }

  .media-element__color-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
}
