// icon Tile
//
// This is the icon Tile component. It's an example.
//
// Markup: icon-tile.twig
//
// Style guide: Components.icon-tile

// Import site utilities.
@import '../../global/utils/init';

.icon-tile {
  position: relative;
  overflow: hidden;

  .icon-tile__bg {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  .icon-tile__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: 300ms opacity linear;

    &:hover {
      opacity: 1;
    }
  }

  .icon-tile__content-inner {
    flex: 0 0 auto;
  }

  .icon-tile__link {
    flex: 0 0 auto;
    padding: $button-padding;
    margin-top: 1.5rem;

    a {
      color: inherit;
      background-color: inherit;
      text-decoration: none;
    }
  }
}
