{{ attach_library('nazarene_org/icon-tile') }}

{% set content_attributes = create_attribute() %}
{% set content_classes = [
  'icon-tile__content',
  'flex-container',
  'flex-dir-column',
  'flex-jc-center',
  'flex-ai-center',
  tile_bg,
] %}

{% set link_attributes = create_attribute() %}
{% set link_classes = [
  'icon-tile__link',
  link_bg,
] %}

<section class="icon-tile">
  <div class="icon-tile__bg">
    {{ image }}
  </div>
  <div {{ content_attributes.addClass(content_classes) }}>
    <div class="icon-tile__content-inner text-align-center">
      {{ content }}
    </div>
    <div {{ link_attributes.addClass(link_classes) }}>
      {{ link }}
    </div>
  </div>
</section>
