// Full Card
//
// This is the Full Card component. It's an example.
//
// Markup: full-card.twig
//
// Style guide: Components.full-card

// Import site utilities.
@import '../../global/utils/init';

.full-card {
  position: relative;

  .full-card__border-wrapper {
    position: relative;
    padding: 0.5rem;

    &::before {
      content: '';
      opacity: 0;
    }
  }

  @include breakpoint($lg) {
    &:hover {
      .full-card__border-wrapper {
        &::before {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 1px solid $color-full-card-background;
          opacity: 1;
        }
      }
    }
  }

  .full-card__interior__bottom {
    > * {
      flex-basis: auto;
      z-index: 2;
    }
  }
}

.full-card__feature-text {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.75rem 3rem;
  background-color: $color-alto;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  white-space: nowrap;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.full-card__interior {
  padding: 1.5rem;
  background-color: $color-full-card-background;
}

.full-card__interior__top__media {
  img {
    height: 100%;
    width: 100%;
  }
}

.full-card__interior__bottom__title {
  * {
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }
}

.full-card__interior__bottom__description {
  margin-bottom: 2rem;

  @include breakpoint($lg) {
    min-height: 75px;
  }
}

.full-card__interior__bottom__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  > * {
    @include ghost-button-mono(true);
    display: inline-block;
    flex: 0 0 auto;
    z-index: 3;

    &:hover {
      a {
        color: $color-black;
      }
    }
  }

  a {
    color: $color-white;
    text-decoration: none;
  }
}
