{{ attach_library('nazarene_org/full-card') }}
<section class="full-card">
  <div class="full-card__feature-text">
    {{ feature_text }}
  </div>
  <div class="full-card__border-wrapper">
    <div class="full-card__interior flex-container flex-dir-column flex-jc-space-between flex-ai-stretch">
      <div class="full-card__interior__top flex-1-2">
        <div class="full-card__interior__top__media">
          {{ media }}
        </div>
      </div>
      <div class="full-card__interior__bottom flex-1-2 flex-container flex-dir-column flex-jc-center flex-ai-stretch">
        <div class="full-card__interior__bottom__title text-bold text-center">
          {{ title }}
        </div>
        <div class="full-card__interior__bottom__description text-center">
          {{ description }}
        </div>
        <div class="full-card__interior__bottom__link">
          {{ link }}
        </div>
      </div>
    </div>
  </div>
</section>
