{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes.addClass('block__icon-tile') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% set block_info = {
    "image": content.field_icon_tile_image,
    "content": content.field_icon_tile_content,
    "link": content.field_icon_tile_link
  } %}

  {% if block.field_icon_tile_link_color.color is not null and block.field_icon_tile_link_color.color is not empty %}
  {% set block_info = block_info|merge({"link_bg": "bg-color-" ~ block.field_icon_tile_link_color.color|replace({"#": ''})}) %}
  {% endif %}

  {% if block.field_icon_tile_link_color.color is not null and block.field_icon_tile_link_color.color is not empty %}
  {% set block_info = block_info|merge({"tile_bg": "bg-color-" ~ block.field_icon_tile_link_color.color|replace({"#": ''}) ~ "-opacity"}) %}
  {% endif %}

  {% include "@nazarene_org/icon-tile/icon-tile.twig" with block_info %}

  {{ attach_library('nazarene_org/icon-tile') }}

  {% set content_attributes = create_attribute() %}
  {% set content_classes = [
    'icon-tile__content',
    'flex-container',
    'flex-dir-column',
    'flex-jc-center',
    'flex-ai-center',
    tile_bg,
  ] %}

  {% set link_attributes = create_attribute() %}
  {% set link_classes = [
    'icon-tile__link',
    link_bg,
  ] %}

  <section class="icon-tile">
    <div class="icon-tile__bg">
      {{ image }}
    </div>
    <div {{ content_attributes.addClass(content_classes) }}>
      <div class="icon-tile__content-inner text-align-center">
        {{ content }}
      </div>
      <div {{ link_attributes.addClass(link_classes) }}>
        {{ link }}
      </div>
    </div>
  </section>

  </div>
