<div{{ attributes.addClass('block__full-card') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% set block_info = {
    "feature_text": content.field_full_card_feature_text,
    "media": content.field_full_card_media,
    "title": content.field_full_card_title,
    "description": content.field_full_card_description,
  } %}

  {% if block.field_full_card_link.uri is not null and block.field_full_card_link.uri is not empty %}
  {% set block_info = block_info|merge({"link": content.field_full_card_link}) %}
  {% endif %}

  {% include "@nazarene_org/full-card/full-card.twig" with block_info %}
  </div>
