{{ attach_library('nazarene_org/wysiwyg') }}
{% set attributes = create_attribute() %}
{% set link_attributes = create_attribute() %}

{% set classes = [
  'wysiwyg__content',
  border is not null ? 'border',
] %}

{% set link_classes = [
  'wysiwyg__link-wrapper__link',
  link_bg is not null ? link_bg,
] %}

<section class="wysiwyg{% if link %} has-link{% endif %}">
  <div {{ attributes.addClass(classes) }}>
    {{ content }}
  </div>
  {% if link %}
    <div class="wysiwyg__link-wrapper flex-container flex-dir-column flex-jc-flex-start {{ link_alignment }}">
      <div {{ link_attributes.addClass(link_classes) }}>
        {{ link }}
      </div>
    </div>
  {% endif %}
</section>
