// WYSIWYG
//
// This is the WYSIWYG component. It's an example.
//
// Markup: wysiwyg.twig
//
// Style guide: Components.wysiwyg

// Import site utilities.
@import '../../global/utils/init';

.wysiwyg {
  position: relative;
  padding: 0.75rem;
}

// Some instances this field is being rendered.
// @TODO: Find the template issue and resolve it.
.field-wysiwyg-show-border {
  display: none;
}

.wysiwyg__content {
  height: 100%;
  color: $color-white;
  font-size: 1.2rem;

  &.border {
    border: 1px solid $color-wysiwyg-border;
  }

  [class^='flex-container'] {
    &:not(.flex-dir-column) {
      flex-direction: row;
    }
  }

  ul,
  ol {
    list-style: revert;
    color: $color-tundora;
    padding-left: 2rem;
  }

  li {
    list-style-type: disc;
  }
}

.wysiwyg__link-wrapper {
  position: absolute;
  width: 100%;
  margin-top: -12px;
  padding: 0 2rem;

  &.align-left {
    align-items: flex-start;
  }

  &.align-center {
    align-items: center;
  }

  &.align-right {
    align-items: flex-end;
  }
}

.wysiwyg__link-wrapper__link {
  margin: 0;
  padding: $button-padding;

  a {
    font-size: 12px;
    color: inherit;
    background-color: inherit;
    text-decoration: none;

    @include breakpoint($md) {
      font-size: 14px;
    }
  }
}

.wysiwyg__lined-title {
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 35px;
    transform: translateY(13px);

    @include breakpoint($lg) {
      width: 75px;
    }
  }

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 35px;
    transform: translateY(13px);

    @include breakpoint($lg) {
      width: 75px;
    }
  }

  &.black {
    &::before,
    &::after {
      background-color: $color-black;
    }
  }

  &.white {
    &::before,
    &::after {
      background-color: $color-white;
    }
  }

  > * {
    flex: 0 0 auto;
    padding: 0 10px;
  }
}
